.ntl__basket {
    font-family: "Nunito", sans-serif;

    display: flex;
    justify-content: space-between;
 
    flex-direction: row;
    gap: 5rem;

    color: #fff;
    margin: 2rem;
    margin-right: 1rem;
    margin-top: 8rem;
    
}

.checkout-breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

#i-am-here {
    color: #ff9900;
}

.ntl__basket-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;

    padding: 1rem;
}

.ntl__basket-items h2 {
    margin: 0 1rem;
    align-self: center;
}

.empty-basket {
    align-self: center;
    text-align: center;
    margin-top: 2rem;
}

.empty-basket h3 {
    font-size: 1.5rem;
}

.empty-basket a {
    text-decoration: none;
    
}

.empty-basket p {
    border: 1px solid #000;
    padding: 0.5rem 0;
    background-color: #5366637a;
    border-radius: 5rem;
    color: #fff;
}

.ntl__basket-list {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
    margin: 0;
}

.ntl__basket-list img {
    width: 30%;
    height: auto;
    flex-shrink: 0;
}

.basket-item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1rem;
    background-color: #53666354;
    border: 1px solid #fff;
    margin: 1rem 0;
}

.basket-watch-img {
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
}

.remove-watch {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.45rem;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    cursor: pointer;
    z-index: 1000;
}

.item-details {
    margin: 0.5rem;
    align-self: flex-start;
    margin-top: 1rem;
}

.watch-collection {
    margin-bottom: 0.2rem;
    font-weight: 200;
    
}

.watch-name {
    margin-bottom: 1rem;
    font-weight: 800;
}


.quantity-con {
    display: flex;
    margin-bottom: 1rem;
}

.add-button {
    padding: 0 0.2rem;
    background-color: #536663;
    border: none;
    cursor: pointer;
}

.watch-quantity {
    background-color: #5366637a;
    padding: 0 0.5rem;
    margin: 0;
}

.remove-button {
    padding: 0.1rem;
    background-color: #704444f3;
    border: none;
    padding: 0 0.2rem;
    cursor: pointer;
}

.ntl__basket-order_summary {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 60%;
    margin: 2rem;
    margin-top: 6.4rem;
    margin-right: 10rem;
    
  
    height: fit-content;

    background-color: #53666354;
    padding: 1rem;
    padding-left: 2rem;
}

.ntl__basket-order_summary button {
    border: none;
    background-color: #ff000085;
    color: white;
    padding: 0.2rem;
    
    font-family: "Nunito", sans-serif;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
}

.subtotal p {
    margin: 0.1rem;
}

.shipping-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-p p {
    margin: 0.1rem;
}

.tax-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tax-p p {
    margin: 0.1rem;
}

.total__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payments {
    margin: 0.5rem 2rem;
    width: 100%;
}

.payments-logos {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    width: 80%;

    margin: 0;
    padding: 0;
}

.payments-logos li img {
    width: 100%;
}

#total {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 1rem 0;
}

@media screen and (min-width: 1151px) and (max-width: 1300px) {
    .ntl__basket {
        flex-direction: column;
    }
}

@media screen and (max-width: 1150px) {
    .ntl__basket-order_summary {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .ntl__basket {
        flex-direction: column;
    }

    .ntl__basket-items {
        width: 80vw;
        align-self: center;
    }

    .ntl__basket-order_summary {
        align-self: center;
        width: 80vw;
        position: static;
        margin-top: 0;
        margin: 0 5rem 2rem 5rem;
    }
    
    .payments {
        width: fit-content;
        align-self: center;
    }

    .payments-logos {
        width: 100%;
    }

    .payments-logos li img {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .ntl__basket {
        margin: 5rem 0;
    }
    .ntl__basket-items {
        padding: 1rem 0;
        width: 85vw;
    }

    .basket-item img {
        width: 35%;
    }
}

@media screen and (max-width: 550px) {
    .basket-item img {
        width: 50%;
    }
    
    .watch-name {
        font-size: 1.25rem;
    }

    .remove-watch {
        font-size: 1.25rem;
    }
    
    .payments-logos li img {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .ntl__basket {
        margin: 0;
        margin-top: 5rem;
    }

    .ntl__basket-items {
        width: 100%;
    }

    .basket-item {
        margin: 0.5rem 1rem;
    }

    .basket-item img {
        width: 50%;
    }
    
    .watch-collection {
        font-size: 0.8rem;
        width: 100%;
    }
}