.footer {
    font-family: "Nunito", sans-serif;
}

.footer__help {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    background-color: #52434328;
    padding: 2rem;
}

.footer__help p {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0px 6px 5px #000;
}

.btn {
    display: none;
}

.footer__section-list {
    list-style: none;
    padding: 0;
}

.footer__section-list li {
    margin: 0.5rem;
    font-size: 1rem;   
    text-shadow: 0px 6px 5px #000;
}

.footer__section-list a {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.footer__section-list a::before {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.footer__section-list a:hover::before {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer__rights {
    background-color: #52434328;
    padding: 1rem 1rem 0.5rem 5rem;
    color: #fff;

    background-color: #53666354;
}

.footer__rights p {
    opacity: 0.8;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
    text-shadow: 0px 6px 4px #000;
}

.social-media-icons {
    display: inline-flex;
    list-style: none;
    width: 10%;

    padding: 0;
    padding-left: 1rem;
    margin: 0;

}

.social-media-icons img {
    width: 80%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .footer__help {
        flex-direction: column;

    }

    .footer__section-container {
        margin-bottom: -2rem;
    }
    
    .footer__section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 10px #ffffff;
        width: 80vw;
    }

    .footer__section-list {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        margin-top: 0;
    }

    .footer__section-list.isOpen {
        max-height: 1000px;
        
    }
    
    .btn {
        display: block;
        color: #fff;
    }

    .footer__rights {
        margin: 0;
        padding: 1rem 1rem;
    }

    .footer__rights p {
        margin: 1rem;
        font-size: 0.8rem;
    }

    .social-media-icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .social-media-icons img {
        width: 50%;
    }
}