.ntl__navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;

    position: relative;
    font-family: "Nunito", sans-serif;
}

.ntl__navbar h1 {
    margin: 0;
}

.ntl__navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    min-width: 30%;
    max-width: 50%;
    position: relative;
    margin: 0;
    padding: 0;

    font-size: 1.1rem;
}

.ntl__navbar-menu li {
    text-decoration: none;
    list-style: none;

    color: #fff;
}

.ntl__navbar-menu a {
    color: #fff;
    text-decoration: none;
}

.ntl__navbar-menu li button {
    background-color: transparent;
    border: none;
    color: #fff;
    
    cursor: pointer;
    font-size: 1.1rem;
    font-family: serif;
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 850px) {
    .ntl__navbar-menu {
        width: 100%;
        max-width: none;
        padding: 1rem 0;
        left: 0%; /* Align to the left */
        transform: translateY(-20px); /* Initial position above the navbar */
        opacity: 0; /* Initially hidden */
        pointer-events: auto; /* Initially no pointer events */
        transition: opacity 0.0s ease, transform 0.3s ease; /* Transition */
        position: absolute; /* Absolute positioning */
        top: 120%;
        z-index: 5;
    }

    .ntl__navbar-menu.show {
        display: inline-flex;

        top: 128%;
        left: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        opacity: 1;
        transition: opacity 0.3s ease, transform 0.5s ease; 
        
        width: min-content;
        z-index: 7;
        box-shadow: -4px 5px 5px #000;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ntl__navbar-menu li {
        padding: 1rem; 
        font-size: 1.3rem;
        z-index: 8;
    }

    .menu-toggle {
        display: block;
        background-color: transparent;
        border: none;

        color: #f90;
        font-size: 1.5rem;
    }

    .menu-toggle:focus + .ntl__navbar-menu {
        display: flex;
    }
}