.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #445853ec;
    color: white;
    padding: 1.5rem;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.popup-info {
    padding: 0 2rem;
    font-family: "Nunito", sans-serif;
    width: 25rem;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #ff9900;
    font-size: 1.5rem;
    font-weight: 1000;
    cursor: pointer;
    padding: 0rem 0.32rem;
    font-family: "Nunito", sans-serif;
}

.popup-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-content img {
    max-width: 15rem;
    margin-top: 0.8rem;
}

.popup-info button {
    background-color: transparent;
    border: 1px solid #0F1417;
    color: #0F1417;
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin: 0.5rem 0;
}

.popup-info button:hover {
    background-color: #0F1417;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 700px) {
    .popup {
        width: 80vw;
        background-color: #445853ec;
        padding: 0.2rem;
        top: 20%;
    }

    .popup-content {
        margin: 2rem;
    }

    .close-button {
        font-size: 1.5rem;
    }

    .popup-info {
        padding-right: 0;
    }
}


@media screen and (max-width: 600px) {
    .popup-content {
        flex-direction: column;
        margin: 0;
        padding: 2rem 3.5rem;
    }

    .popup-info {
        padding: 0;
        font-size: 1.2rem;
        width: 100%;
    }

    .popup-info h2 {
        margin: 1rem 0;
    }

    .popup-info p {
        margin: 0;
    }

    .popup-info button {
        width: 15rem;
        color: #fff;
        background-color: #0F1417;
        border: 2px solid #fff;
        margin-top: 1rem;
        width: 100%;
    }

    .popup-content img {
        max-width: 14rem;
        margin: 0;
    }

    .close-button {
        font-family: "Nunito", sans-serif;
        font-size: 1.5rem;
        background-color: transparent;
    }
}

@media screen and (max-width: 480px) {
    .popup-info h2 {
        font-size: 1.55rem;
        text-align: center;
    }

    .popup-info p {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
}