@import url('https://fonts.cdnfonts.com/css/digital-numbers');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

html {
    background: -moz-linear-gradient(90deg, #000000 29%, #1F0000 60%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, #000000 29%, #1F0000 60%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, #000000 29%, #1F0000 60%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F0000', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, #000000 29%, #1F0000 60%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, #000000 29%, #1F0000 60%);
}

body {
    margin: auto 12.5rem;
    padding: 0;
}


@media screen and (max-width: 1150px) {
    body {
        margin: 0;
    }
}




























.black-to-red-180deg {
    /* ff 3.6+ */
    background: -moz-linear-gradient(180deg, #0F1417 35%, #550E12 74%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(180deg, #0F1417 35%, #550E12 74%);

    /* opera 11.10+ */
    background: -o-linear-gradient(180deg, #0F1417 35%, #550E12 74%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#550E12', endColorstr='#0F1417', GradientType=1 );

    /* ie 10+ */
    background: -ms-linear-gradient(180deg, #0F1417 35%, #550E12 74%);

    /* global 94%+ browsers support */
    background: linear-gradient(180deg, #0F1417 35%, #550E12 74%);
}

.black-to-red-90deg {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, #000000 29%, #1F0000 80%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, #000000 29%, #1F0000 80%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, #000000 29%, #1F0000 80%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F0000', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, #000000 29%, #1F0000 80%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, #000000 29%, #1F0000 80%);
}

.yellow-to-gray-90deg {
    background: #FF9900;
    background: linear-gradient(to right, #FF9900 43%, #767676 56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}