.ntl__page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

.ntl__page h2 {
    font-weight: 800;
    color: #ff9900;
}

.ntl__page_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-right: 1.5rem;
    padding: 2rem 5rem;
    background-color: #53666354;
    border: 1px solid #536663;
    border-radius: 1rem;
}

.ntl__page_card p {
    margin-top: -0.5rem;
}

.ntl__page_input {
    display: flex;
    flex-direction: column;
}

.ntl__page_input input {
    margin: 0.5rem auto;
    outline: none;
    background-color: transparent;
    border: 1px solid #ff9900;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
    color: #fff;
}

.ntl__page_input label {
    margin-left: 0.25rem;
}

.ntl__two-btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.ntl__two-btn button {
    background-color: transparent;
    border: 1px solid #ff9900;
    
    font-family: "Nunito", sans-serif;
    color: #ff9900;

    transition: background-color 0.3s  ease-in;
}

.ntl__two-btn button:hover {
    background-color: #ff9900;
    color: #536663;
}

.ntl__two-btn a {
    text-align: center;
    text-decoration: none;
    color: #ff9900;
    border-bottom: 1px solid transparent;
}

.reigon {
    outline: none;
    background-color: transparent;
    border: 1px solid #ff9900;
    border-radius: 0.2rem;
    padding: 0.3rem;
    color: #fff;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.reigon option {
    background-color: #536663;
    border-radius: 0;
    font-family: "Nunito", sans-serif;
    color: #ff9900;
}

@media screen and (max-width: 550px) {
    .ntl__page {
        background-color: #53666354;
        height: 100vh;
    }
    .ntl__page_card {
        margin: 0;
        margin-top: 5rem;
        padding: 0;
        border: none;
        background-color: transparent;
        justify-self: flex-start;
        align-self: flex-start;
    }
}